<%- layout('layout.ejs') %>
<div>
    <div class="page-header">
        <h1 class="text-info"><%- title %></h1>
    </div>
    <p><a href="/create" class="btn btn-success" >Add a student</a></p>
    <table class="table table-bordered table-condensed">
            <tr class="active">
                <th>First</th>
                <th>Last</th>
                <th>School</th>
                <th>Started</th>
                <th></th>
                <th></th>
            </tr>

        <% for(var i=0; i<jsonData.length; i++) { %>
            <tr>
                <td><%= jsonData[i].FirstName %></td>
                <td><%= jsonData[i].LastName %></td>
                <td><%= jsonData[i].School %></td>
                <td><%= jsonData[i].StartDate %></td>
                <td><a href="/edit/<%= jsonData[i]._id %>" class="btn btn-primary btn-sm">EDIT</a></td>
                <td><a href="/delete/<%= jsonData[i]._id %>" class="btn btn-primary btn-sm">DELETE</a></td>
            </tr>
        <% } %>
    </table>
    <a href="/api/students" class="btn btn-warning">Students API</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note: Try <a href="/dummydata">/dummydata</a> to generate some sample data.
</div>

